{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Perfil
{% endblock %}

{% block contenido %}

<div class="container">
    
  <div class="row">
        
            <div class="col-md-4">
                <div class="card" style="width: 100%; margin: 5px 5px;">
                
                    <div class="card-header text-center">
                        <h4>Perfil</h4>
                    </div>
                    <div class="card-body" style="text-align: center ;">
                        <h6>Usuario: {{request.user.perfil.usuario}}</h6>
                        <h6>Telefono: {{request.user.perfil.telefono}}</h6>
                        <h6>Direccion: {{request.user.perfil.direccion}}</h6>
                    </div>
                
                    <div class="card-footer text-center">
                        <img src="{% static '../media/' %}{{request.user.perfil.imagen}}" >
                    </div>
                
                </div>
            
            </div>
        
  
    </div>
</div>
  

{% endblock %}