{% extends 'base.html' %}

{% block titulo %}
    Clientes
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Clientes encontrados</h1>
<div class="container">
    <h1>---------------------------------------------</h1>
</div>

{% for cliente in clientes%}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                   <h3>{{cliente.nombre}}</h3>
                   
            </div>
            <div class="col-sm">
                <a href="" class="btn btn-primary">Editar</a>
                <a href="" class="btn btn-danger">Borrar</a>
            </div>
                           
        </div>
     
        
    </div>
{% endfor %}


{% endblock %}