{% extends 'base.html' %}

{% block titulo %}
    Clientes
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Listado de clientes</h1>

{% for cliente in clientes %}
    <div class="container">
        <h5>----------------------------------------------------------------------------------------------------------</h5>
        
        <div class="row">
            <div class="col-sm">
                   <h5>{{cliente.nombre}}</h5>
            </div>
                        
            <div class="col-sm">
                <a href="/cliente/detalle_cliente/{{cliente.id}}/" class="btn btn-primary">Detalle</a>
                
            </div>
                                      
        </div>
     
        
    </div>
{% endfor %}
    
<div class="container">
    <h5>----------------------------------------------------------------------------------------------------------</h5>
    <a href="/cliente/nuevo_cliente/" class="btn btn-primary">Nuevo</a>
</div>




{% endblock %}