{% extends 'base.html' %}

{% block titulo %}
    Categorias
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Listado de categorías</h1>
<div class="container">
    <h1>---------------------------------------------</h1>
</div>

{% for categoria in categoria%}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                   <h5>{{categoria.nombre}}</h5>
            </div>
            <div class="col-sm">
                <h5>{{categoria.clasificacion}}</h5>
            </div>
            <div class="col-sm">
                
            </div>
                                   
        </div>
     
        
    </div>
{% endfor %}

<div class="container">
    <h1>---------------------------------------------</h1>
    <a href="/categoria/nueva_categoria/" class="btn btn-primary">Nueva</a>
</div>




{% endblock %}