{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}

<h1 style="margin-left:30rem">Sobre nosotros</h1>



    <div class="container">
        <div class="intro">
        <p>Somos alumnos del curso PYTHON clase 31090 de CODERHOUSE</p>
        <P>Somos un grupo apasionados por la programacion y desarrollo web que busca continua capacitacion para proponer soluciones informaticas a problemas cotidianos y empresariales.</P>
        <p>Diseñamos esta aplicacion web de tienda On-Line para que los usuarios puedan realizar sus comprar sin moverse de sus casas.</p>
        <p></p>
        </div>
        <P>Somos:</P>
        <div class="row">
            <div class="col-sm">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppProyectoFinal/Pedro.jpg' %}" alt="">
                <li>Pedro Sosa - Diseñador Grafico</li>
            </div>
            <div class="col-sm">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppProyectoFinal/Paula.jpg' %}" alt="">
                <li>Paula Garrocho - Desarrolladora web</li>
            </div>
            <div class="col-sm">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppProyectoFinal/miguel.jpg' %}" alt="">
                <li>Miguel Arce - Analista Programador</li>
            </div>
                       
        </div>
        
    </div>

      
    

{% endblock %}