{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}

<h1 style="margin-left:30rem">Sobre nosotros</h1>



    <div class="container">
        <p>Somos alumnos del curso PYTHON clase 31090 de CODERHOUSE</p>
        <P>Somos un grupo apasionados por la programacion y desarrollo web que busca continua capacitacion para proponer soluciones informaticas a problemas cotidianos y empresariales</P>
        <p>Diseñamos esta aplicacion web de tienda On-Line para demostrar que hemos aprendido los contenidos de la clase teórica ya finalizada.</p>
        <p>Estamos convencidos de que este producto web se merece la mejor calificación posible. ;-)</p>
        <P>Somos:</P>
        <ol>
            <li>Paula Garrocho - Ingeniera en Sistemas</li>
            <li>Pedro Sosa - Diseñador Grafico</li>
            <li>Miguel Arce - Analista Programador</li>
        </ol>
    </div>

{% endblock %}